<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>导线网平差解算</title>
</head>
<body>
<h1>导线网平差解算</h1>
<p>填入以下数据，然后提交。以下数据为示例数据，通常只需要复制导线网程序表格（勿手敲）。</p>
<p>0.1.1 更新：1. 已能生成误差模型；2. 已能生成平差报告；3. 已开放中间变量</p>
<p>0.1.2 更新：1. 已开源<a href="https://github.com/LU-sir/adjust">GitHub</a></p>
<p>使用教程见<a href="https://mp.weixin.qq.com/s/tUFf6CtUDv3bd6P8dOSQIA">导线网平差解算</a></p>
    <form action="/dxw/" method="post">
        {% csrf_token %}
        <label>
            边观测值：
            <textarea name = "info1" rows = "11" cols = "16">{{ info1 }}</textarea>
        </label>
        <label>
            角观测值：
            <textarea name = "info2" rows = "14" cols = "25">{{ info2 }}</textarea>
        </label><br />
        <label>
            其他信息：
            <textarea name = "info3" rows = "5" cols = "53">{{ info3 }}</textarea>
        </label><br />
        <label>
            weight_ratio
            <input type="text" name="weight_ratio" value="1">
        </label><br>
        <input type="submit" value="提交" />
    </form>
    {{ adjust_result|safe }}
    {{ edges|safe }}
    {{ corners|safe }}
    {{ params|safe }}
    {{ edge_sigma_max|safe }}
    {{ corner_sigma_max|safe }}
    {{ point_sigma_max|safe }}
    {{ sigma_final|safe }}

    {{ intermediates|safe }}
    {{ b_coefficient|safe }}
    {{ l_observation_residual|safe }}
    {{ v_residual|safe }}
    {{ P_weight_matrix|safe }}

</body>
</html>