<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="utf-8">
<title>导线网平差解算</title>
</head>
<body>
<h1>导线网平差解算</h1>
<p>填入以下数据，然后提交。以下数据为示例数据，通常只需要复制导线网程序表格（勿手敲）。</p>
<p>定权问题正在完善。</p>
<p>使用教程见<a href="https://www.hotdry.top/dxw/">hello</a></p>
    <form action="/dxw/" method="post">
        {% csrf_token %}
        <label>
            边观测值：
            <textarea name = "info1" rows = "11" cols = "16">{{ info1 }}</textarea>
        </label>
        <label>
            角观测值：
            <textarea name = "info2" rows = "14" cols = "25">{{ info2 }}</textarea>
        </label><br />
        <label>
            其他信息：
            <textarea name = "info3" rows = "5" cols = "53">{{ info3 }}</textarea>
        </label><br />
        <label>
            weight_ratio
            <input type="text" name="weight_ratio" value="1">
        </label><br>
        <input type="submit" value="提交" />
    </form>
    {{ edges|safe }}
    {{ corners|safe }}
    {{ params|safe }}


</body>
</html>